<div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let song of newSongs" class="col">
        <div class="card h-100">
            <img [src]="song.images| noimage" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{song.name}}</h5>
                <p class="card-text">
                    <span *ngFor="let artist of song.artists" class="badge rounded-pill bg-dark">{{artist.name}}</span>
                    </p>
            </div>
        </div>
    </div>
</div>